// 色の設定

// リンク --------------------

$color-link-normal: #3498db;
$color-link-hover: #e74c3c;
$color-link-visited: #9b59b6;

// コード --------------------

$color-code-block: white;
$bgcolor-code-block: #303030;

$color-code-inline: black;
$bgcolor-code-inline: #ecf0f1;

$color-code-keyword: #6bb2f9;
$color-code-annotation: #79fbc3;
$color-code-identifier: #fefb5f;
$color-code-literal: #79fbc3;
$color-code-docstring: #f19bf9;
$color-code-comment: silver;

$color-code-inserted: #79fb51;
$color-code-deleted: #eb5833;
